* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Admin Side -> Admin Layout */
.admin-header {
  width: 100%;
  height: 100px;
  background-color: #2a9df4;
  color: #fff;
}

.admin-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
}

.admin-sidebar {
  width: 350px;
  min-height: 80vh;
  background-color: #f8f8f8;
  color: #000;
}

.admin-content {
  width: 100%;
  min-height: 80vh;
  padding: 40px;
}

.admin-footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
}

/* Admin Side -> Admin Layout -> Header */

.admin-header-container {
  height: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header-left {
  font-size: 20px;
  font-weight: 600;
  font-size: 28px;
}

.admin-header-right button {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #2a9df4;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

/* Admin Side -> Admin Layout -> Footer */

.admin-footer-container {
  height: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Admin Side -> Admin Layout -> Sidebar */

.admin-sidebar-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.admin-sidebar-container a {
  text-decoration: none;
}

.admin-sidebar-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-sidebar-container ul li {
  background-color: #2a9df4;
  color: #fff;
  font-weight: 600;
  padding: 20px 10px;
}

/* Admin Side -> Admin Layout -> Login */

.admin-login-container {
  width: 100%;
}

.admin-login-header {
  width: 100%;
  height: 100px;
  background-color: #2a9df4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}

.admin-login-footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.admin-login-section {
  padding-top: 60px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-login-section h2 {
  margin-bottom: 20px;
}

.admin-login-section .admin-login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-login-form .admin-login-fields {
  display: flex;
  flex-direction: column;
}

.admin-login-form .admin-login-fields input {
  width: 320px;
  height: 42px;
  padding: 0px 5px;
  outline: none;
}

.admin-login-form .admin-login-fields .admin-login-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #2a9df4;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

/* Admin Side -> Admin Layout -> Dashboard */

.dashboard-title {
  font-weight: 600;
  font-size: 3rem;
  color: #2a9df4;
}

.dashboard-text {
  font-size: 1.2rem;
}

/* Admin Side -> Admin Layout -> Tables */

.table-headding {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-headding h2 {
  color: #2a9df4;
}

.table-headding button {
  padding: 12px 32px;
  background-color: greenyellow;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.table-box table {
  width: 100%;
}

.table-box th {
  border: solid #2a9df4;
  background-color: #2a9df4;
  color: #fff;
  padding: 12px 6px;
  font-size: 16px;
}

.table-box td {
  border: solid #fff;
  padding: 12px 6px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
}

.table-box .table-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table-box .table-btns .edit-btn {
  padding: 12px 32px;
  background-color: yellow;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.table-box .table-btns .del-btn {
  padding: 4px 32px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.table-number-section {
  margin-top: 22px;
}

.table-number-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.table-option {
  background-color: #2a9df4;
  color: #fff;
  padding: 5px 16px;
  margin: 0px 6px;
  cursor: pointer;
}

.table-numbers {
  border: solid #2a9df4;
  padding: 5px 12px;
  margin: 0px 6px;
  cursor: pointer;
}

.table-numbers.active {
  background-color: #2a9df4;
  color: #fff;
}
/* Admin Side -> Admin Layout -> UserForm */

.user-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.user-form-container .user-form-title {
  color: #2a9df4;
}

.user-form-container .user-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.user-form-section .user-form-field {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 12px;
}

.user-form-field .user-form-input {
  height: 38px;
  outline: none;
  padding: 0 10px;
}

.user-form-field .user-form-btn {
  width: 100%;
  height: 38px;
  border: none;
  background-color: #2a9df4;
  color: #fff;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* Admin Side -> Admin Layout -> ProductForm */

.product-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.product-form-container .product-form-title {
  color: #2a9df4;
}

.product-form-container .product-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.product-form-section .product-form-field {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 12px;
}

.product-form-field .product-form-input {
  height: 38px;
  outline: none;
  padding: 0 10px;
}

.product-form-field .product-form-btn {
  width: 100%;
  height: 38px;
  border: none;
  background-color: #2a9df4;
  color: #fff;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* User Side -> User Layout */

.user-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
}

.user-header-logo {
  display: flex;
  gap: 8px;
  font-weight: 900;
  font-size: 1.5rem;
}

.user-header-logo .main-logo {
  color: #2a9df4;
}

.user-header-navlinks {
  list-style: none;
  display: flex;
  gap: 32px;
}

.user-header-navlinks a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.user-header-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-header-btns a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.user-footer-container {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  padding: 20px;
}

/* User Side -> User Layout -> Userlogin */

.user-forms-section {
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.user-forms-section h2 {
  color: #2a9df4;
}

.user-forms-form {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-form-filed {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-form-filed input {
  height: 42px;
  padding: 0 8px;
}

.user-form-filed .user-forms-btn {
  background-color: #2a9df4;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.user-pass-forget {
  text-decoration: underline;
  font-size: 0.8rem;
}

.user-form-swich {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.user-form-swich:hover {
  text-decoration: none;
  color: #2a9df4;
  font-size: 0.9rem;
}
